<%- include('partials/_header')%>
<div class="container mt-5">
    <div class="row">
      <div class="col-md-9">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td>n°</td>
              <td>Tarea a realizar</td>
              <td>Importancia</td>
              <td>Fecha de Agregado/Edicion</td>
              
            </tr>
          </thead>
          <tbody>
             <% if (data) { %>
              <% for(var i = 0; i < data.length; i++) { %>
                <tr>
                  <td><%= (i + 1) %></td>
                  <td><%= data[i].descripcion %></td>
                  <td><%= data[i].Importancia %></td>
                  <td><%= data[i].fecha %></td>
                  <td>
                    <a href="/update/<%= data[i].id %>" class="btn btn-info ">Edit</a>
                    <a href="/delete/<%= data[i].id %>" class="btn btn-danger mt-2">Delete</a>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
      <div class="col-md-3">
        <div class="card-body">
  
          <form action="/add" method="POST">
            <div class="form-group">
              <input type="text" name="tarea" placeholder="Tarea" class="form-control" autofocus>
            </div>
            <div class="form-group mt-2">
                <input type="text" name="importancia" placeholder="Importancia" class="form-control" autofocus>
            </div>
  
            <button type="submit" class="btn btn-primary mt-2">
              save customer
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container row justify-content-center" >
    <BUtton class="btn btn-danger col-md-3" id="btnSalir">Volver</BUtton>
  </div>
<%- include('partials/_footer')%>